<header class="flex">
    <div>ícone</div>
    <nav>
        <mat-icon class="material-icons-outlined" aria-hidden="false">notifications</mat-icon>
        <mat-icon class="material-icons-outlined" aria-hidden="false">search</mat-icon>
        <div class="user-items">            
            <div class="user-name">Gustavo Salzmann</div>
            <div class="user-sub">Operador</div>     
        </div>
        <div>
            <mat-icon class="material-icons-outlined" aria-hidden="false">account_circle</mat-icon>
        </div>
    </nav>
</header>
